.global-container {
    width: 90%;
    margin: 0 auto;
}

.header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;    
    background-color: #1976d2;
}

.header-nav-container {
    display: flex;
}

.header__logo {
    color: white;
    margin-right: 100px;
}

.header__navigation ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__navigation li {
    list-style: none;
}   

.header__navigation .nav-link {
    text-decoration: none;
    margin: 0 5px;
    color: white;
    font-family: Poppins,sans-serif;
}

.search {
    position: relative;
    background-color:white;
    width: 100%;
    display: flex;
    align-items: center;
    width: 500px;
}

.search-icon {
    margin-right: 12px;
}

.input-root {
    color: inherit;
}

.input-input {
    width: 100% !important;
    padding: 0 !important;
}

.main-content {
    margin: 20px 10px;
}
