

.header {
    padding: 10px 10px;
    display: flex;
    justify-content: space-between;    
    background-color: #1976d2;
}

.header-nav-container {
    display: flex;
}

.logo {
    width: 185px;
}

.header__navigation ul {
    display: flex;
    margin: 0;
    padding: 0;
}

.header__navigation li {
    list-style: none;
}   

.header__navigation .nav-link {
    text-decoration: none;
    margin: 0 5px;
    color: white;
    font-size: 14px;
}
.nav-link-container {
    padding: 5px;
    border-radius: 10px;
    padding-top: 2px;   
}

.nav-link-container:hover {
    background: hsla(0,0%,100%,.07);
}

.main-content {
    position: relative;
    z-index: 0;
    margin: 20px 10px;
}

.album {
    margin: 15px 10px;
    min-width: 345px;
}

.card-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.search-result {
    position: absolute;
    top: 36px;
    width: 100%;
    z-index: 2;
}